mihome-config-1-flow.txt
[
    {
        "id": "68c1d1d6.4bf85",
        "type": "ui_text_input",
        "z": "1c073460.bb7a1c",
        "name": "",
        "label": "email",
        "group": "daae0c07.49b11",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "email",
        "delay": "300",
        "topic": "email",
        "x": 132,
        "y": 138,
        "wires": [
            [
                "68de8cd4.3081c4"
            ]
        ]
    },
    {
        "id": "9c56fd06.4222d",
        "type": "ui_text_input",
        "z": "1c073460.bb7a1c",
        "name": "",
        "label": "password",
        "group": "daae0c07.49b11",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "password",
        "delay": "300",
        "topic": "pw",
        "x": 144.78569793701172,
        "y": 179.57139205932617,
        "wires": [
            [
                "68de8cd4.3081c4"
            ]
        ]
    },
    {
        "id": "5858d24c.74c73c",
        "type": "ui_button",
        "z": "1c073460.bb7a1c",
        "name": "",
        "group": "daae0c07.49b11",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OK",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ok",
        "payloadType": "str",
        "topic": "ok",
        "x": 128.99998474121094,
        "y": 227.00007343292236,
        "wires": [
            [
                "68de8cd4.3081c4"
            ]
        ]
    },
    {
        "id": "4e8e371e.5cafa8",
        "type": "ui_text_input",
        "z": "1c073460.bb7a1c",
        "name": "",
        "label": "PIN",
        "group": "daae0c07.49b11",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "password",
        "delay": 300,
        "topic": "pin",
        "x": 122.99998474121094,
        "y": 94.00000953674316,
        "wires": [
            [
                "68de8cd4.3081c4"
            ]
        ]
    },
    {
        "id": "68de8cd4.3081c4",
        "type": "function",
        "z": "1c073460.bb7a1c",
        "name": "invoke_get_key",
        "func": "if (msg.topic=='email')\n{\n    context.set('email', msg.payload);\n    msg.payload='null';\n}\nif (msg.topic=='pw')\n{\n    context.set('pw', msg.payload);\n    msg.payload='null';\n}\nif (msg.topic=='pin')\n{\n    context.set('pin', msg.payload);\n    msg.payload='null';\n}\n\nif (msg.topic=='ok')\n{\n    if (context.get('pin')=='1234')\n    {\n      msg.payload = {};\n      msg.payload.command='get_key';\n      msg.payload.email=context.get('email');\n      msg.payload.pw=context.get('pw');\n    }\n    else\n    {\n        msg.payload = {};\n        msg.payload.command='bad_pin';\n    }\n    context.set('pw', 'null');\n    context.set('pin', 'null');\n}\nelse\n{\n    msg.payload=\"null\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 398.0000457763672,
        "y": 170.2857847213745,
        "wires": [
            [
                "412da05.f5a546",
                "7dad1c2c.750d64"
            ]
        ]
    },
    {
        "id": "7695073f.dfdeb8",
        "type": "mihome",
        "z": "1c073460.bb7a1c",
        "name": "",
        "x": 867.0000076293945,
        "y": 168.2857780456543,
        "wires": [
            [
                "fa8c4602.f90218",
                "edcf332d.59dba"
            ]
        ]
    },
    {
        "id": "7813e917.c64818",
        "type": "function",
        "z": "1c073460.bb7a1c",
        "name": "eraser",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 471.99998474121094,
        "y": 366.57149600982666,
        "wires": [
            [
                "9c56fd06.4222d",
                "68c1d1d6.4bf85",
                "4e8e371e.5cafa8",
                "5858d24c.74c73c"
            ]
        ]
    },
    {
        "id": "412da05.f5a546",
        "type": "switch",
        "z": "1c073460.bb7a1c",
        "name": "form-complete",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "get_key",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 622.0000686645508,
        "y": 169.28570938110352,
        "wires": [
            [
                "7695073f.dfdeb8",
                "7813e917.c64818"
            ]
        ]
    },
    {
        "id": "7dad1c2c.750d64",
        "type": "switch",
        "z": "1c073460.bb7a1c",
        "name": "bad-pin",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bad_pin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 475.4999656677246,
        "y": 234.57141017913818,
        "wires": [
            [
                "7813e917.c64818"
            ]
        ]
    },
    {
        "id": "7799840c.8af5cc",
        "type": "file",
        "z": "1c073460.bb7a1c",
        "name": "key.json",
        "filename": "key.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1059.714298248291,
        "y": 278.42870140075684,
        "wires": []
    },
    {
        "id": "fa8c4602.f90218",
        "type": "switch",
        "z": "1c073460.bb7a1c",
        "name": "sanity check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "\"key\"",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 884.7857360839844,
        "y": 277.5713806152344,
        "wires": [
            [
                "7799840c.8af5cc",
                "edcf332d.59dba"
            ]
        ]
    },
    {
        "id": "edcf332d.59dba",
        "type": "debug",
        "z": "1c073460.bb7a1c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1070.0000457763672,
        "y": 102.71427536010742,
        "wires": []
    },
    {
        "id": "cbbbf68c.e80b88",
        "type": "ui_button",
        "z": "1c073460.bb7a1c",
        "name": "",
        "group": "daae0c07.49b11",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Scan Devices",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ok",
        "payloadType": "str",
        "topic": "ok",
        "x": 152.78569793701172,
        "y": 447.5713768005371,
        "wires": [
            [
                "89a74599.453cd8"
            ]
        ]
    },
    {
        "id": "89a74599.453cd8",
        "type": "function",
        "z": "1c073460.bb7a1c",
        "name": "get device list",
        "func": "msg.payload={\"command\":\"get_subdevice_list\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 372.99998474121094,
        "y": 450.285701751709,
        "wires": [
            [
                "c0dd0a01.f0b7b8"
            ]
        ]
    },
    {
        "id": "c0dd0a01.f0b7b8",
        "type": "mihome",
        "z": "1c073460.bb7a1c",
        "name": "",
        "x": 580.642822265625,
        "y": 450.57140731811523,
        "wires": [
            [
                "8c222265.2ebec"
            ]
        ]
    },
    {
        "id": "8c222265.2ebec",
        "type": "function",
        "z": "1c073460.bb7a1c",
        "name": "brief list",
        "func": "var res='{';\nvar label;\nvar id;\nvar i=0;\n\nfor (i in msg.payload.data) {\n    label=msg.payload.data[i].label;\n    id=msg.payload.data[i].id;\n    if (i>0)\n    {\n          res+=', ';\n    }\n    res+='\"'+label+'\":\"'+id+'\"';\n    i++;\n}\nres+='}';\nmsg.payload='{}';\nmsg.payload=res;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 748.5714683532715,
        "y": 450.28574562072754,
        "wires": [
            [
                "f7f2f562.4db248"
            ]
        ]
    },
    {
        "id": "f7f2f562.4db248",
        "type": "ui_toast",
        "z": "1c073460.bb7a1c",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "show list of devices",
        "x": 942.5715522766113,
        "y": 451.4286069869995,
        "wires": []
    },
    {
        "id": "daae0c07.49b11",
        "type": "ui_group",
        "z": "",
        "name": "Admin",
        "tab": "5523884e.92b178",
        "disp": true,
        "width": "6"
    },
    {
        "id": "5523884e.92b178",
        "type": "ui_tab",
        "z": "",
        "name": "Admin",
        "icon": "dashboard",
        "order": "1"
    }
]